# Node-RED
node_red_data/.npm/
node_red_data/node_modules/
node_red_data/flows_cred.json

# Generated Media
zlm/www/captures/

# AI Models & Datasets

# ai_engine/models/*.engine
ai_engine/models/dataset/
ai_engine/models/train/

# Ignore compiled script generated on edge
ai_engine/export_engine.py

# Ignore dynamic configuration
ai_engine/config/config.json

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Web Manager
web_manager/**/node_modules/
web_manager/frontend/dist/
node_modules/
model/

ai_engine.Path/